<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoloV7WebCamInference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YoloV7WebCamInference.Properties.Settings>
            <setting name="Sender" serializeAs="String">
                <value />
            </setting>
            <setting name="Recipient" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderSmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmptServer" serializeAs="String">
                <value />
            </setting>
        </YoloV7WebCamInference.Properties.Settings>
    </userSettings>
</configuration>